@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: #f5f5f5;
}

.restroom-form {
    background-color: #ffffff;
    color: blue; 
    padding: 40px;
    border: none; 
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    transition: box-shadow 0.3s;
}

.restroom-form:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.restroom-form label {
    margin-bottom: 8px;
    font-weight: 600;
}

.restroom-form input[type="text"] {
    background-color: #f0f0f0;
    color: blue; 
    border: 1px solid #ffffff; 
    padding: 10px;
    border-radius: 8px; 
    margin-bottom: 15px; 
    width: calc(100% - 22px); 
}

.navigo {
    background-color: #ffffff; 
    color: blue; 
    padding: 12px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 120px; 
    margin: 10px auto; 
}

.navigo:hover {
    background-color: hsl(210, 100%, 40%); 
    transform: translateY(-2px); 
}

.addroom {
    font-family: 'Poppins', sans-serif; 
    background-color: #ffffff; 
    color: rgb(255, 0, 0); 
    padding: 12px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 150px; 
    margin: 10px auto; 
    
}

.addroom:hover {
    background-color: rgba(255, 0, 0, 0.1); 
}

.container {
    margin-top: 15px; 
    padding: 0px; 
    margin-bottom: 30px; 
}

.text-h3 {
    margin-top: 20px; 
    font-weight: 700; 
    color: blue; 
}
